/*

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  border: 2px solid var(--light-blue);
  border-radius: 10px;
  padding: 20px 20px 0 20px;
}


@media (min-width: 768px) {
  main {
    height: 100vh;
  }
  body {
    overflow: hidden;
  }
  .content {
    margin: auto 25% auto 25% !important;
  }
}

 */

/* Bootstrap Implementation */

:root {
  --light-blue: #51cbee;
}

body {
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.title {
  color: var(--light-blue);
}
.subtitle {
  color: #d4d5dc;
}
.col-content {
  border: 2px solid var(--light-blue);
  border-radius: 10px;
}
.btn {
  background-color: var(--light-blue) !important;
  font-size: 18px;
  border-radius: 5px;
}
.highlight {
  background-color: #50cbed;
}
