:root {
  --light-green: #00bc68;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
  letter-spacing: 0.05rem;
}
p {
  line-height: 20px;
}
a {
  text-decoration: none;
  color: black;
}

.navbar {
  padding: 20px 10rem 0 10rem;
}
.navbar-brand {
  color: var(--light-green);
  float: left;
}
#navlist {
  /* position: absolute; */
  width: 100%;
}

#navlist a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 15px;
}
@media (max-width: 768px) {
  .navbar {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .left-title {
    padding-left: 3rem !important;
  }
  .container {
    padding-right: 3rem !important;
  }
  #navlist a {
    float: left;
    padding: 0px 5px;
    font-size: 13px;
  }
  .title {
    font-size: 20px !important;
    line-height: 25px !important;
  }
}
.navlist-right {
  float: right;
}

#navlist a:hover {
  color: var(--light-green);
}

.banner {
  text-align: center;
  background-image: url("../images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  color: white;
}

.title {
  color: var(--light-green);
  font-size: 30px;
  letter-spacing: 0.1rem;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subtitle {
  font-size: 22px;
  line-height: 30px;
}

.image2 {
  width: 100%;
  height: auto;
}
.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.image-1 {
  width: 100%;
  height: auto;
  padding: 20px 0;
  opacity: 0.8;
}
.left-title {
  padding-left: 10rem;
}
.col-1 .title {
  width: 55%;
  line-height: 50px;
}
.container {
  padding: 2rem 10rem 2rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 90px;
}

.btn {
  color: white;
  border: none;
  background-color: red;
  padding: 10px;
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.col-2 {
  background-color: #fafafa;
  height: fit-content;
  padding: 5px 10px 0 10px;
}
.col-2 p {
  padding: 8px 0;
  margin-bottom: 0;
  margin-top: 0;
}
.col-2 h4 {
  padding-top: 10px;
}
.text-green {
  color: var(--light-green);
}
.para2 {
  font-weight: 600;
  padding-bottom: 40px;
}
.badge {
  background-color: var(--light-green);
  border-radius: 40px;
  display: block;
  padding: 10px;
  margin-left: 30px;
  width: fit-content;
  position: absolute;
  z-index: 1;
}
.badge ul {
  padding-left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.badge li {
  padding: 5px;
  font-size: 20px;
}
